{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tienda Electrónica</title>
    <link href="{% static 'css/style_home.css' %}" rel="stylesheet">
    <link href="{% static 'css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div id="sub-header">
            <div class="all-header">
                <h1 id="titulo-header">Tienda Electrónica</h1>
            </div>
            <div class="all-header">
                <div class="search-box">
                    <input type="text" placeholder="Buscar" class="search-input">
                    <i class="fas fa-search search-icon"></i>
                </div>                
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                <a href="/mis_pedidos">Mis pedidos</a>
            </div>
            <div class="all-header">
                {% if user.is_authenticated %}
                    <div class="user-info">
                        <p>Bienvenido, {{ user.username }}</p>
                        <a href="/logout">Cerrar Sesión</a>
                    </div>
                {% else %}
                    <a href="/login">Iniciar Sesión</a>
                    <a href="/register">Crear Cuenta</a>
                {% endif %}
            </div>
        </div>
    </header>
    <body>
        <section>
            <div class="categorias-container">
                    <div class="categoria">
                        <a href="/" class="filtro-categoria">Todos</a>
                {% for categoria in categorias %}
                    
                        <a href="/categoria/{{categoria.nombre}}" class="filtro-categoria">{{ categoria.nombre }}</a>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section>
            <div class="productos-container">
                {% for producto in productos %}
                    <div class="producto">
                        {% if producto.stock != 0 %}
                            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                            <h3>{{ producto.nombre }}</h3>
                            <p>{{ producto.descripcion }}</p>
                            <p>Precio: {{ producto.precio }}</p>
                            <div>
                                <form action="/add_to_cart/{{producto.id}}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit">Agregar al carrito</button>
                                </form>
                                <a href="/compra_directa/{{producto.id}}">Comprar</a>
                            </div>
                        {% endif %}
                    </div>
                {% empty %}
                    <p>No hay productos disponibles.</p>
                {% endfor %}
            </div>
        </section>
    </body>
</body>
</html>