{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tienda Electrónica</title>
    <link href="{% static 'css/style_home.css' %}" rel="stylesheet">
    <link href="{% static 'css/reset.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div id="sub-header">
            <div class="all-header">
                <h1 id="titulo-header">Tienda Electrónica</h1>
            </div>
            <div class="all-header">
                <div class="search-box">
                    <input type="text" placeholder="Buscar" class="search-input">
                    <i class="fas fa-search search-icon"></i>
                </div>                
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <div class="all-header">
                <a href="/login">Iniciar Sesión</a>
                <a href="/register">Crear Cuenta</a>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="well well-sm">
                <strong>Display</strong>
                <div class="btn-group">
                    <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                    </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-th"></span>Grid</a>
                </div>
            </div>
            <div id="products" class="row list-group">
                {% for producto in productos %}
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">
                                {{ producto.nombre }}
                            </h4>
                            <p class="group inner list-group-item-text">
                                Descripción: {{ producto.descripcion }}
                            </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        Precio: ${{ producto.precio }}
                                    </p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <footer></footer>
</body>
</html>
