{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tienda Electrónica</title>
    <link href="{% static 'css/style_home.css' %}" rel="stylesheet">
    <link href="{% static 'css/reset.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div id="sub-header">
            <div class="all-header">
                <h1 id="titulo-header">Tienda Electrónica</h1>
            </div>
            <div class="all-header">
                <div class="search-box">
                    <form method="get" action="{% url 'home' %}">
                        <input type="text" name="q" placeholder="Buscar" class="search-input">
                        <button type="submit"><i class="fas fa-search search-icon"></i></button>
                    </form>
                </div>               
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <div class="all-header">
                <a href="/login">Iniciar Sesión</a>
                <a href="/register">Crear Cuenta</a>
            </div>
        </div>
    </header>
    <body>
        <section>
            <div class="productos-container">
                {% for producto in productos %}
                    <div class="producto">
                        {% if producto.stock != 0 %}
                            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                            <div class="titulo_producto">
                                <h3>{{ producto.nombre }}</h3>
                            </div>
                            <div class="descripcion_producto">
                                <p>{{ producto.descripcion }}</p>
                            </div>
                            <div class="precio_producto">
                                <p>Precio: ${{ producto.precio|floatformat:"2" }}</p>
                            </div>
                            <div class="contenido-inferior">
                                <div class="cantidad_producto">
                                    <label for="cantidad{{ producto.id }}">Cantidad:</label>
                                    <input type="number" id="cantidad{{ producto.id }}" name="cantidad" value="1" min="1">
                                </div>
                                <button class="agregar-carrito" data-producto="{{ producto.id }}">Agregar al carrito</button>
 
                            </div>
                        {% endif %}
                    </div>
                {% empty %}
                    <p>No hay productos disponibles.</p>
                {% endfor %}
            </div>
        </section>
    </body>
</body>
</html>